
body{

  background-image: linear-gradient(to right, #d4e8eb, #b7efe8, #a9f4d0, #b9f4a9, #deed7c);
  display: fixed;
  z-index: -1;
  font-family: Gerogia,'sans serif';
}
#header{
  font-size: 40px;
  background: linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  
}


.center{
	display: flex;
	justify-content: center;
}
button{
	cursor: pointer;
}

.dob{
  padding-left: 30px;
  padding-right: 10px;

}



