.poke{
	
	background-color: #badbd3;
	border-radius: 20px;
	text-align: center;
	box-shadow: 5px 5px grey;
	
}
.name{
	font-weight:bold;
}
.maincontainer{
	
	position: relative;
	width: 225px;
	height:305px;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}


.maincontainer:hover {

	transform: rotateY(180deg);
}

.cardfront{
	position: absolute;
	backface-visibility: hidden;
}

.cardback{
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.poke-img{
	width: 150px;
	height: 150px;
	margin: 20px;
}

#grass{
	background-color: rgba(0,255,0,0.3)	;
 
}

#fire{
	background-color: rgba(255,69,0,0.5);

}

#water{
	background-color: rgba(0,100,255,0.3);
}

#bug{
	background-color: #B8b08d;
}	

#poison{
	background-color: #d2a4bc;
}

#normal{
	background-color: beige;
}

#electric{
	background-color: rgba(240, 255, 0, 0.4	);
;
}

#ground{
	background-color: rgba(101,67,33,0.7)
		;	
}

#dark{
	background-color: rgba(0,0,0,0.6);	
}

#rock{
	background-color: #A8A8A8	;
}

#fairy{
	background-color: pink;
}

#psychic{
	background-color: rgba(255,0,0,0.4);
}